<div
    class="bg-black h-20 flex justify-between items-center font-semibold px-10 text-white text-4xl"
>
    <div class="w-16 h-16">
        <img
            src="assets/svgs/fake-shop.svg"
            class="w-full h-full"
            alt="shop logo"
        />
    </div>
    <div>Fake Shop</div>
    <div class="w-16 h-16">
        <a routerLink="/cart"
            ><img
                src="assets/svgs/cart-icon.svg"
                class="w-full h-full"
                alt="cart icon"
            />
        </a>
    </div>
</div>
