<div class="max-w-7xl mx-auto mt-24 flex justify-center items-center gap-28">
    <div class="border-solid border-black border-2 rounded">
        <button
            (click)="toggleSortingList()"
            class="px-3 py-3 rounded flex items-center gap-28"
        >
            Sort
            <svg
                class="w-2.5 h-2.5 ml-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                />
            </svg>
        </button>
        <ul [hidden]="!isListVisible">
            <li
                *ngFor="let option of options"
                class="flex justify-between px-4 py-4 items-center hover:bg-neutral-200 cursor-pointer"
            >
                <input
                    type="checkbox"
                    [id]="option.label"
                    [(ngModel)]="option.checked"
                    (click)="selectOption(option)"
                    class="accent-black cursor-pointer w-4 h-4"
                />
                <label [for]="option.label">{{ option.label }}</label>
            </li>
        </ul>
    </div>

    <!-- <div>
        <button
            (click)="toggleFilteringList()"
            class="px-3 py-3 rounded flex items-center gap-28 border-solid border-2 hover:border-black"
        >
            Filter
            <svg
                class="w-2.5 h-2.5 ml-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                />
            </svg>
        </button>
        <ul
            [hidden]="!isListVisible"
            class="border-solid border-2 border-black rounded"
        >
            <li
                *ngFor="let option of options"
                class="flex justify-between px-4 py-4 items-center hover:bg-neutral-200 cursor-pointer"
            >
                <input
                    type="checkbox"
                    [id]="option.label"
                    [(ngModel)]="option.checked"
                    (click)="selectOption(option)"
                    class="accent-black cursor-pointer w-4 h-4"
                />
                <label [for]="option.label">{{ option.label }}</label>
            </li>
        </ul>
    </div>

    <div class="border-solid border-black border-2 rounded">
        <button
            (click)="toggleSortingList()"
            class="px-3 py-3 rounded flex items-center gap-28"
        >
            Sort
            <svg
                class="w-2.5 h-2.5 ml-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                />
            </svg>
        </button>
        <ul [hidden]="!isListVisible">
            <li
                *ngFor="let option of options"
                class="flex justify-between px-4 py-4 items-center hover:bg-neutral-200 cursor-pointer"
            >
                <input
                    type="checkbox"
                    [id]="option.label"
                    [(ngModel)]="option.checked"
                    (click)="selectOption(option)"
                    class="accent-black cursor-pointer w-4 h-4"
                />
                <label [for]="option.label">{{ option.label }}</label>
            </li>
        </ul>
    </div> -->
</div>
