<div class="w-64">
    <mat-select [(value)]="sortingOption">
        <mat-option value="Ascending">Ascending</mat-option>
        <mat-option value="Descending">Descending</mat-option>
    </mat-select>

    <mat-select [(value)]="filteringOption" multiple>
        <mat-option value="---------">---------</mat-option>
        <mat-option value="---------">---------</mat-option>
        <mat-option value="---------">---------</mat-option>
        <mat-option value="---------">---------</mat-option>
    </mat-select>

    <mat-select [(value)]="layoutOption">
        <mat-option value="Ascending">Ascending</mat-option>
        <mat-option value="Descending">Descending</mat-option>
    </mat-select>
</div>
