<div *ngIf="productsCart.length === 0" class="mt-28 text-center">
    <div class="text-3xl mb-4">Your cart is empty</div>
    <a routerLink="/home" class="hover:font-medium hover:underline"
        >Go shopping!</a
    >
</div>

<div *ngIf="productsCart.length > 0" class="mt-28 max-w-7xl mx-auto">
    <div
        *ngFor="let productCart of productsCart"
        class="flex items-center justify-between mb-6 pb-2 border-b border-black border-solid"
    >
        <div class="flex items-center justify-between w-90">
            <div class="flex items-center gap-8">
                <div class="w-16 h-16">
                    <img
                        [src]="productCart.image"
                        class="w-full h-full"
                        [alt]="productCart.description"
                    />
                </div>
                <div class="">{{ productCart.title }}</div>
            </div>

            <div class="flex items-center gap-4">
                <div>{{ productCart.price | number : ".2-2" }}$</div>
                <div class="flex items-center gap-2 mr-8">
                    <button (click)="increaseQuantity(productCart)">+</button>
                    <div #quantity>{{ productCart.quantity }}</div>
                    <button
                        class="text-xl"
                        (click)="decreaseQuantity(productCart)"
                    >
                        -
                    </button>
                </div>
            </div>
        </div>

        <div class="flex items-center gap-6">
            <!-- round to only be 2digit after comma -->
            <div>{{ productCart.price * productCart.quantity }}$</div>
            <button
                (click)="onItemDelete(productCart)"
                class="w-8 h-8 cursor-pointer px-2 py-2 hover:bg-black bg-stone-900 rounded"
            >
                <img
                    src="assets/svgs/x.svg"
                    class="w-full h-full"
                    alt="trash icon"
                />
            </button>
        </div>
    </div>

    <div class="flex justify-between items-center">
        <a routerLink="/home" class="hover:font-medium hover:underline"
            >Continue Shopping</a
        >
        <!-- maybe ngmodel to property which regularly gets updated of price -->
        <div class="flex items-center gap-6">
            <div>{{ totalPrice | number : ".2-2" }}$</div>
            <button
                class="px-6 py-2 hover:bg-black text-white rounded bg-stone-900"
            >
                Checkout
            </button>
        </div>
    </div>
</div>
