<div class="border-solid border-black border-2 rounded">
    <button
        (click)="toggleList()"
        class="px-3 py-3 rounded flex items-center gap-28"
    >
        {{ listName }}
        <svg
            class="w-2.5 h-2.5 ml-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
            />
        </svg>
    </button>
    <ul [hidden]="!isListVisible">
        <label
            *ngFor="let option of options"
            [for]="option.label"
            class="flex justify-between px-4 py-4 items-center bg-white hover:bg-neutral-200 cursor-pointer"
        >
            <input
                type="checkbox"
                [id]="option.label"
                [(ngModel)]="option.checked"
                (click)="selectOption(option, $event)"
                class="accent-black cursor-pointer w-4 h-4"
            />
            <div class="cursor-pointer">
                {{ option.label }}
            </div>
        </label>
    </ul>
</div>
