<div class="p-2 shadow-md" *ngFor="let product of allProducts">
    <div class="product-image-container">
        <img [src]="product.image" class="product-image" alt="img" />
    </div>
    <div class="mt-2 product-name">{{ product.title }}</div>
    <div class="mt-3 flex justify-between items-center">
        <div class="text-red-600 text-lg">
            {{ product.price | number : ".2-2" }}$
        </div>
        <div class="w-8 h-8 cursor-pointer">
            <img
                (click)="onProductAdded(product)"
                src="assets/svgs/cart-icon.svg"
                class="invert w-full h-full"
                alt="cart icon"
            />
        </div>
    </div>
</div>
